{
    "URLS":["https://rsshub.app/shmtu/notes",
            "https://rsshub.app/shmtu/events",
            "https://rsshub.app/shmtu/jwc/1",
            "https://rsshub.app/shmtu/jwc/2"],
    "QQGroup":"000000000"
}